# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# 더이상 쓰이지 않는 코드들
/archive

# 관리용 페이지
/admin

# dependencies
/node_modules
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.vercel