

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* 모달 전체를 화면 가운데 정렬 */
}

.modal-bg {
    background-color: black;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* 모달 배경 설정 */
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    width: 280px;
    position: fixed;
    top: calc(50% - 250px);
    background: var(--gray05);
    border-radius: 16px;
    /* 모달 내용 설정 */
}

.modal-header {
    width: 100%;
    height: 56px;
    font-family: 'Pretendard';
    font-weight: 800;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: var(--gray90);
    /* 모달 헤더 설정 */
}

.modal-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
    padding: 0 20px;
    /* 모달 내용 설정 */
}

.modal-btns {
    /* 모달 버튼 영역 설정 */
}

.modal-btn {
    margin: 12px;
    /* 모달 내 버튼 설정 */
}

.example-box {
    display: flex;
    justify-content: center;
    margin: 48px;
    margin-bottom: 32px;
    /* 예시 박스 설정 */
}

.modal-studied-wrapper {
    text-align: left;
    padding: 12px;
    width: 100px;
    margin-top: 64px;
    height: 56px;
    background: var(--purple05);
    box-shadow: 0 3.04762px 7.61905px rgba(0, 0, 0, 0.1);
    border-radius: 6.09524px;
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 10.6667px;
    line-height: 12px;
    color: var(--gray70);
    position: absolute;
    /* 학습 일수 표시 박스 설정 */
}

.modal-studied-number {
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 20px;
    position: relative;
    top: 26px;
    text-align: right;
    color: var(--purple60);
    /* 학습 일수 숫자 설정 */
}

.modal-studied-number > object {
    margin-right: 8px;
    position: relative;
    top: 3px;
    /* 학습 일수 아이콘 설정 */
}