.logo-wrapper{
    display: block;
    margin-top: 88px;
}

.logo-image{
    width: 200px;
    height: 200px;
    margin: auto;

    background-color: #F7F7F7;
}

.logo-text{
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #1C1C1C;
    text-align: center;
    margin-top: 20px;
}

.login-btn-wrapper{
    margin: auto;
    margin-top: 130px;
    width: 300px;
}
.kakao-login-btn{
    cursor: pointer;
    margin-bottom: 5px;
}