@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");


body {
  padding-left: 20px;
  max-width: 100%;
  padding-right: 20px;
  margin-right: auto;
  overflow-x: hidden;
  margin-left: auto;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --gray05: #F7F7F7;
  --gray10: #E4E4E4;
  --gray20: #D4D3D3;
  --gray30: #C7C7C7;
  --gray40: #ABABAB;
  --gray50: #909090;
  --gray60: #777777;
  --gray70: #5F5F5F;
  --gray80: #333333;
  --gray90: #1C1C1C;

  --purple05: #F7F0FE;
  --purple10: #E3CEFD;
  --purple20: #D2B1FC;
  --purple30: #C193FA;
  --purple40: #B076F9;
  --purple50: #9F59F8;
  --purple60: #913FF7;
  --purple70: #8023F5;
  --purple80: #6E0AEB;
  --purple90: #6009CD;
}

code {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

}
