/* detail-page 클래스 */
.detail-page {
    user-select: none;
    width: 100%;
    margin: 0;
}

/* header 요소 */
header {
    text-align: center;
}

/* header 내의 h2 요소 */
header > h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: var(--gray90);
}

/* 돌아가기 버튼 */
.return-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    width: 40px;
    height: 50px;
    left: 12px;
    border-radius: 1000px;
}

/* 진행 단계 헤더 */
.steps-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
    margin-bottom: 17px;
    max-width: 376px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* 단계 바 */
.step-bar {
    position: relative;
    top: -70%;
    z-index: -1;
    max-width: 191px;
    height: 2px;
    background: #F7F0FE;
}

/* 단계 숫자 */
.step-num {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: auto;
    border-radius: 1000px;
    max-width: 20px;
    height: 20px;
    padding: 5px;
}

/* 단계 내용 */
.step-content {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    padding: 5px;
    text-align: center;
    color: #333333;
}

/* 스크립트 래퍼 */
.scripts-wrapper {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 10vh;
}

/* 스크립트 */
.script {
    display: flex;
    flex-direction: row;
    padding: 7px;
}

/* 비디오 디테일 */
.video-detail {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

/* 비디오 래퍼 */
.video-wrapper {
    position: absolute;
    left: 0;
}

/* 비디오 래퍼 내의 div */
.video-wrapper > div {
    top: 0;
    left: 0;
    max-width: 100%;
    height: 100%;
}

/* 스크립트 내용 */
.script-content {
    display: block;
    font-weight: 700;
    font-size: 16px;
    border-radius: 8px;
    padding: 12px 20px;
    color: #1C1C1C;
}

/* 스크립트 숫자 래퍼 */
.script-num-wrapper {
    float: left;
    margin-right: 9px;
    padding: 12px;
}

/* 스크립트 숫자 */
.script-num {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    position: relative;
    top: 40%;
    border-radius: 1000px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
}

/* 스크립트 번역 */
.script-translation {
    max-width: 270px;
    font-family: 'Pretendard Variable';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    margin-top: 10px;
}

/* 디테일 타입 래퍼 */
.detail-type-wrapper {
    overflow: hidden;
    margin-bottom: 15px;
}

/* 스크립트 버튼 */
.script-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #000000;
    opacity: 0.3;
    border-radius: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* 스크립트 버튼 래퍼 */
.script-btn-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    max-width: 356px;
}

/* 스크립트 버튼 내의 object */
.script-btn > object {
    cursor: pointer;
}

/* 스크롤바 디자인 */
.detail-page::-webkit-scrollbar {
    max-width: 8px;
    border-radius: 4px;
}

.detail-page::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 4px;
}

.detail-page::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 4px;
}

.detail-page::-webkit-scrollbar-thumb:hover {
    background: #999;
    border-radius: 4px;
}

/* 그림자 바 */
.shadowing-bar {
    height: 24px;
    background: linear-gradient(92.45deg, #D2B1FC -5.06%, #913FF7 104.69%);
    border-radius: 8px;
}

/* 쉐도잉 가이드 */
.shadowing-guide {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 80%;
    max-width: 335px;
    height: 42px;
    padding-left: 20px;
    padding-right: 20px;
    background: #F7F7F7;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 14px;
    color: #1C1C1C;
}

/* 바 래퍼 */
.bar-wrapper {
    box-sizing: border-box;
    width: 100%;
    display: block;
    margin-bottom: 20px;
    margin-top: 260px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    height: 44px;
    border: 1px solid #E4E4E4;
    border-radius: 8px;
}

/* 비디오 하단 내비게이션 */
.video-bottom-nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    bottom: 0px;
    padding-top: 5px;
    padding-bottom: 10px;
    left: 0;
    width: 100%;
}

/* object 요소 */
object {
    pointer-events: none;
}

/* svg 요소 */
svg {
    cursor: pointer;
}
